*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
html{
    font-family: 'Open Sans', sans-serif;
}
i{
    font-size: 25px;
}
:root{
    --white-color: #fff;
    --primary-color: #c7221e;
    --black-color: #171717;
    --font-light: #93969c;
    --font-solid: #09121f;
}


/* HEADER */
#header{
    display:flex;
    margin: 0 5%;
    align-items: center;
    justify-content: space-between;
}
#header .header__logo{
    width: 80px;
    height: 50px;
}
#header .header__menu ul li{
    display: inline-block;
}
#header .header__menu ul li a{
    text-decoration: none;
    color: var(--font-solid);
    padding: 30px 15px;
    font-weight: bold;
}
#header .header__menu ul li a.active ,#header .header__menu ul li a:hover{
    color: var(--primary-color);
}
.header__action{
    display: flex;
    align-items: center;
}
.header__action div{
    padding: 30px 25px;
}
.primary-btn{
    border: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-btn span{
    margin: 5px;
}



/* BANNER */
.banner{
    display: flex;
    margin: 5%;
    justify-content: space-between;
}
.banner__content{
    flex: 1;
}
.banner__content-title{
    font-weight:900;
    font-size: 60px;
}
.banner__content-description {
    color: var(--font-light);
    margin: 5% 0;
}
.banner__content-action{
    display: flex;
    margin: 5% 0;
}
.extra-btn{
    outline: none;
    color: var(--font-light);
    border:1px solid var(--font-light) ;
    padding: 6px 20px;
    border-radius: 5px;
    margin: 0 5px;
}

/* BANNER product  card */
.banner__product{
    
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.product-card{
    margin: 8% 2%;
    background-color: var(--white-color);
    border-radius: 15px;
    width: 230px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-image{
    display: block;
    transform: translateY(-30%);
    
}
.product-image img{
    width: 130px;
    height: 130px;
}
.product-name{
    margin-top: -20px;
    font-weight: bold;
}
.product-price{
    color: var(--primary-color);
    font-weight: 500;
}
.add-to-card-btn{
    outline: none;
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10%);
}


/* Service */
.service{
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    position: relative;
    padding-left: 30%;
    padding: 2% 10% 2% 30%;
}

.service__title{
    font-weight: 900;
    font-size: 50px;
    margin: 5% 0;
}

.service__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0;
}
.service-icon i{
    font-size: 35px;
    margin-top: 5%;
}
.service-heading{
    font-weight: 900;
    font-size: 20px;
    margin: 4% 0;
}
.service-description{
    margin-bottom: 4%;
}

/* Value */
.value{
    margin: 5% 0;
}
.value__heading{
    text-align: center;
    margin: 4% 0;
}
.value__title{
    font-weight: 900;
    font-size: 50px;
}
.value__content{
    color: var(--font-light);
}

/* Slider */
.slick-slide{
    margin:0.5% 0;
}

.slick-initialized .slick-slide {
    margin-left: 20px;
}


.value-item{
    position: relative;
    text-align: center;
    border-radius:20px;
    background-color: #fff5f4;
}

.value-content{
    position: absolute;
    display: block;
    top: 30%;
    left: 40%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: 900;
}
.value-content-heading{
    font-weight: normal;
}
.slick-current{
    background-color: #ffd4d3;
    padding-bottom: 50px;
    transform: translateY(-4%);
    transition: 0.2s ease-out;
}

.slick-arrow{
    position: absolute;
    display: block;
    top: -45px;
    right: 10%;
    border: 1px solid var(--black-color);
    border-radius: 5px;
    padding: 4px;
}
.slick-arrow i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev-arrow{
    right: 15%;
}